
- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [1034]:
# (this is not an exhaustive list of libraries)
import pandas as pd
from pandas import json_normalize
import numpy as np
import os
import json
from pprint import pprint
from functions_variables import encode_tags
from sklearn.preprocessing import LabelEncoder

In [1035]:
# load one file first to see what type of data you're dealing with and what attributes it has

path = r"C:\Users\turab\data-project-midterm\data"

# Use os.listdir to get files
files = os.listdir(directory)

# Print all files
for file in files:
    print(file)

.gitkeep
AK_Juneau_0.json
AK_Juneau_1.json
AK_Juneau_2.json
AK_Juneau_3.json
AK_Juneau_4.json
AL_Montgomery_0.json
AL_Montgomery_1.json
AL_Montgomery_2.json
AL_Montgomery_3.json
AL_Montgomery_4.json
AR_LittleRock_0.json
AR_LittleRock_1.json
AR_LittleRock_2.json
AR_LittleRock_3.json
AR_LittleRock_4.json
AZ_Phoenix_0.json
AZ_Phoenix_1.json
AZ_Phoenix_2.json
AZ_Phoenix_3.json
AZ_Phoenix_4.json
CA_Sacramento_0.json
CA_Sacramento_1.json
CA_Sacramento_2.json
CA_Sacramento_3.json
CA_Sacramento_4.json
CO_Denver_0.json
CO_Denver_1.json
CO_Denver_2.json
CO_Denver_3.json
CO_Denver_4.json
CT_Hartford_0.json
CT_Hartford_1.json
CT_Hartford_2.json
CT_Hartford_3.json
CT_Hartford_4.json
DE_Dover_0.json
DE_Dover_1.json
DE_Dover_2.json
DE_Dover_3.json
DE_Dover_4.json
FL_Tallahassee_0.json
FL_Tallahassee_1.json
FL_Tallahassee_2.json
FL_Tallahassee_3.json
FL_Tallahassee_4.json
GA_Atlanta_0.json
GA_Atlanta_1.json
GA_Atlanta_2.json
GA_Atlanta_3.json
GA_Atlanta_4.json
HI_Honolulu_0.json
HI_Honolulu_1.json
HI_Honolulu_2.json
HI_Honolulu_3.json
HI_Honolulu_4.json
IA_DesMoines_0.json
IA_DesMoines_1.json
IA_DesMoines_2.json
IA_DesMoines_3.json
IA_DesMoines_4.json
ID_Boise_0.json
ID_Boise_1.json
ID_Boise_2.json
ID_Boise_3.json
ID_Boise_4.json
IL_Springfield_0.json
IL_Springfield_1.json
IL_Springfield_2.json
IL_Springfield_3.json
IL_Springfield_4.json
IN_Indianapolis_0.json
IN_Indianapolis_1.json
IN_Indianapolis_2.json
IN_Indianapolis_3.json
IN_Indianapolis_4.json
KS_Topeka_0.json
KS_Topeka_1.json
KS_Topeka_2.json
KS_Topeka_3.json
KS_Topeka_4.json
KY_Frankfort_0.json
KY_Frankfort_1.json
KY_Frankfort_2.json
KY_Frankfort_3.json
KY_Frankfort_4.json
LA_BatonRouge_0.json
LA_BatonRouge_1.json
LA_BatonRouge_2.json
LA_BatonRouge_3.json
LA_BatonRouge_4.json
MA_Boston_0.json
MA_Boston_1.json
MA_Boston_2.json
MA_Boston_3.json
MA_Boston_4.json
MD_Annapolis_0.json
MD_Annapolis_1.json
MD_Annapolis_2.json
MD_Annapolis_3.json
MD_Annapolis_4.json
ME_Augusta_0.json
ME_Augusta_1.json
ME_Augusta_2.json
ME_Augusta_3.json
ME_Augusta_4.json
MI_Lansing_0.json
MI_Lansing_1.json
MI_Lansing_2.json
MI_Lansing_3.json
MI_Lansing_4.json
MN_St.Paul_0.json
MN_St.Paul_1.json
MN_St.Paul_2.json
MN_St.Paul_3.json
MN_St.Paul_4.json
MO_JeffersonCity_0.json
MO_JeffersonCity_1.json
MO_JeffersonCity_2.json
MO_JeffersonCity_3.json
MO_JeffersonCity_4.json
MS_Jackson_0.json
MS_Jackson_1.json
MS_Jackson_2.json
MS_Jackson_3.json
MS_Jackson_4.json
MT_Helena_0.json
MT_Helena_1.json
MT_Helena_2.json
MT_Helena_3.json
MT_Helena_4.json
NC_Raleigh_0.json
NC_Raleigh_1.json
NC_Raleigh_2.json
NC_Raleigh_3.json
NC_Raleigh_4.json
ND_Bismarck_0.json
ND_Bismarck_1.json
ND_Bismarck_2.json
ND_Bismarck_3.json
ND_Bismarck_4.json
NE_Lincoln_0.json
NE_Lincoln_1.json
NE_Lincoln_2.json
NE_Lincoln_3.json
NE_Lincoln_4.json
NH_Concord_0.json
NH_Concord_1.json
NH_Concord_2.json
NH_Concord_3.json
NH_Concord_4.json
NJ_Trenton_0.json
NJ_Trenton_1.json
NJ_Trenton_2.json
NJ_Trenton_3.json
NJ_Trenton_4.json
NM_SantaFe_0.json
NM_SantaFe_1.json
NM_SantaFe_2.json
NM_SantaFe_3.json
NM_SantaFe_4.json
NV_CarsonCity_0.json
NV_CarsonCity_1.json
NV_CarsonCity_2.json
NV_CarsonCity_3.json
NV_CarsonCity_4.json
NY_Albany_0.json
NY_Albany_1.json
NY_Albany_2.json
NY_Albany_3.json
NY_Albany_4.json
OH_Columbus_0.json
OH_Columbus_1.json
OH_Columbus_2.json
OH_Columbus_3.json
OH_Columbus_4.json
OK_OklahomaCity_0.json
OK_OklahomaCity_1.json
OK_OklahomaCity_2.json
OK_OklahomaCity_3.json
OK_OklahomaCity_4.json
OR_Salem_0.json
OR_Salem_1.json
OR_Salem_2.json
OR_Salem_3.json
OR_Salem_4.json
PA_Harrisburg_0.json
PA_Harrisburg_1.json
PA_Harrisburg_2.json
PA_Harrisburg_3.json
PA_Harrisburg_4.json
processed
RI_Providence_0.json
RI_Providence_1.json
RI_Providence_2.json
RI_Providence_3.json
RI_Providence_4.json
SC_Columbia_0.json
SC_Columbia_1.json
SC_Columbia_2.json
SC_Columbia_3.json
SC_Columbia_4.json
SD_Pierre_0.json
SD_Pierre_1.json
SD_Pierre_2.json
SD_Pierre_3.json
SD_Pierre_4.json
TN_Nashville_0.json
TN_Nashville_1.json
TN_Nashville_2.json
TN_Nashville_3.json
TN_Nashville_4.json
TX_Austin_0.json
TX_Austin_1.json
TX_Austin_2.json
TX_Austin_3.json
TX_Austin_4.json
UT_SaltLakeCity_0.json
UT_SaltLakeCity_1.json
UT_SaltLakeCity_2.json
UT_SaltLakeCity_3.json
UT_SaltLakeCity_4.json
VA_Richmond_0.json
VA_Richmond_1.json
VA_Richmond_2.json
VA_Richmond_3.json
VA_Richmond_4.json
VT_Montpelier_0.json
VT_Montpelier_1.json
VT_Montpelier_2.json
VT_Montpelier_3.json
VT_Montpelier_4.json
WA_Olympia_0.json
WA_Olympia_1.json
WA_Olympia_2.json
WA_Olympia_3.json
WA_Olympia_4.json
WI_Madison_0.json
WI_Madison_1.json
WI_Madison_2.json
WI_Madison_3.json
WI_Madison_4.json
WV_Charleston_0.json
WV_Charleston_1.json
WV_Charleston_2.json
WV_Charleston_3.json
WV_Charleston_4.json
WY_Cheyenne_0.json
WY_Cheyenne_1.json
WY_Cheyenne_2.json
WY_Cheyenne_3.json
WY_Cheyenne_4.json

Combine all sales into dataframe

In [1072]:
def load_and_combine_json_files(directory):
    data_frames = []
    for filename in os.listdir(directory):
        if filename.endswith(".json"):
            filepath = os.path.join(directory, filename)
            with open(filepath, 'r', encoding='utf-8') as file:
                json_data = json.load(file)
                
                # Normalize the JSON structure to a flat table
                if 'data' in json_data and 'results' in json_data['data']:
                    df = json_normalize(json_data['data']['results'])
                    data_frames.append(df)
    
    # Concatenate all DataFrames into one
    combined_df = pd.concat(data_frames, ignore_index=True)
    return combined_df

directory = r"C:\Users\turab\data-project-midterm\data"  # Update this path

# Load and combine the JSON files
combined_data = load_and_combine_json_files(directory)

print(combined_data.head())

C:\Users\turab\AppData\Local\Temp\ipykernel_5512\2437266733.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(data_frames, ignore_index=True)

       last_update_date                                               tags  \
0  2023-09-19T20:52:50Z  [carport, community_outdoor_space, cul_de_sac,...
1                  None                                               None
2                  None                                               None
3                  None                                               None
4                  None                                               None

   ... community.description.name location.county
0  ...                        NaN             NaN
1  ...                        NaN             NaN
2  ...                        NaN             NaN
3  ...                        NaN             NaN
4  ...                        NaN             NaN

[5 rows x 67 columns]

At this point, ensure that you have all sales in a dataframe.
- Is each cell one value, or do some cells have lists?
- Maybe the "tags" will help create some features.
- What are the data types of each column?
- Some sales may not actually include the sale price.  These rows should be dropped.
- Some sales don't include the property type.
- There are a lot of None values.  Should these be dropped or replaced with something?

Drop or replace values as neccesary

In [1090]:
# Check if some columns have lists

list_columns_combined_data = check_for_lists(combined_data)
print(list_columns_combined_data)

# Tags, branding, photos, virtual tours, source agents, other listings, etc have lists!

{'last_update_date': False, 'tags': True, 'permalink': False, 'status': False, 'list_date': False, 'open_houses': False, 'branding': True, 'list_price': False, 'property_id': False, 'photos': True, 'community': False, 'virtual_tours': True, 'listing_id': False, 'price_reduced_amount': False, 'matterport': False, 'primary_photo.href': False, 'source.plan_id': False, 'source.agents': True, 'source.spec_id': False, 'source.type': False, 'description.year_built': False, 'description.baths_3qtr': False, 'description.sold_date': False, 'description.sold_price': False, 'description.baths_full': False, 'description.name': False, 'description.baths_half': False, 'description.lot_sqft': False, 'description.sqft': False, 'description.baths': False, 'description.sub_type': False, 'description.baths_1qtr': False, 'description.garage': False, 'description.stories': False, 'description.beds': False, 'description.type': False, 'lead_attributes.show_contact_an_agent': False, 'flags.is_new_construction': False, 'flags.is_for_rent': False, 'flags.is_subdivision': False, 'flags.is_contingent': False, 'flags.is_price_reduced': False, 'flags.is_pending': False, 'flags.is_foreclosure': False, 'flags.is_plan': False, 'flags.is_coming_soon': False, 'flags.is_new_listing': False, 'products.brand_name': False, 'other_listings.rdc': True, 'location.address.postal_code': False, 'location.address.state': False, 'location.address.coordinate.lon': False, 'location.address.coordinate.lat': False, 'location.address.city': False, 'location.address.state_code': False, 'location.address.line': False, 'location.street_view_url': False, 'location.county.fips_code': False, 'location.county.name': False, 'primary_photo': False, 'source': False, 'products': False, 'location.address.coordinate': False, 'other_listings': False, 'community.advertisers': True, 'community.description.name': False, 'location.county': False}

In [1091]:
# Display all from tags column 

if 'tags' in combined_data.columns:
    # Initialize an empty set to store unique tags
    unique_tags = set()
    
    # Iterate over each entry in the 'tags' column
    for tag_list in combined_data['tags']:
        if isinstance(tag_list, list):  # Ensure the entry is a list
            unique_tags.update(tag_list)  # Add tags to the set, avoiding duplicates
    
    # Print the unique set of tags
    print("Unique tags:")
    for tag in unique_tags:
        print(tag)
else:
    print("'tags' column does not exist in the DataFrame.")

Unique tags:
clubhouse
community_clubhouse
jack_and_jill_bathroom
basketball_court
wrap_around_porch
courtyard_entry
library
fenced_yard
carport
lake
garage_2_or_more
lake_view
trails
baseball
garage_3_or_more
community_elevator
tennis
boat_dock
pond
single_story
park
laundry_room
hill_or_mountain_view
garage_1_or_more
community_center
community_park
forced_air
wine_cellar
hardwood_floors
two_or_more_stories
golf_course_lot_or_frontage
fixer_upper
first_floor_master_bedroom
indoor_basketball_court
high_ceiling
master_bathroom
central_air
hoa
outdoor_kitchen
mountain_view
views
pets_allowed
community_horse_facilities
large_porch
city_view
ranch
marina
community_spa_or_hot_tub
community_outdoor_space
family_room
water_view
private_backyard
beach
disability_features
ensuite
ocean_view
smart_homes
community_swimming_pool
outbuilding
efficient
community_tennis_court
central_heat
fruit_trees
guest_parking
white_kitchen
furniture
den_or_office
open_house
master_bedroom
guest_house
updated_kitchen
dual_master_bedroom
senior_community
well_water
washer_dryer
basketball
media_room
river_access
handicap_access
gated_community
maintenance
kitchen_island
theater_room
beautiful_backyard
volleyball
golf_course_view
elevator
open_floor_plan
front_porch
farm
gourmet_kitchen
soccer
view
exposed_brick
medicalcare
playground
rental_property
detached_guest_house
two_master_suites
two_kitchen
waterfront
basement
master_suite
energy_efficient
game_room
greenhouse
recreation_facilities
spa_or_hot_tub
floor_plan
solar_system
groundscare
swimming_pool
rv_or_boat_parking
community_boat_facilities
big_yard
solar_panels
shopping
no_hoa
rv_parking
private_courtyard
river_view
dining_room
corner_lot
granite_kitchen
large_kitchen
modern_kitchen
dishwasher
wooded_land
cathedral_ceiling
open_kitchen
security
community_security_features
investment_opportunity
greenbelt
community_gym
fireplace
storm_shelter
golf_course
new_roof
coffer_ceiling
low_hoa
tennis_court
big_lot
vaulted_ceiling
community_golf
private_bathroom
horse_facilities
private_parking
fenced_courtyard
screen_porch
cul_de_sac
big_bathroom

In [1092]:
# Data types of each column

data_types_list = combined_data.dtypes.tolist()

print("Data types of each column:")
print(data_types_list)

# There are objects, float64's

Data types of each column:
[dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64')]

In [1093]:
# drop sales that dont include sales price

combined_data = combined_data.dropna(subset=['description.sold_price'])

# Print the shape of the DataFrame to verify the number of rows after dropping
print("Shape of DataFrame after dropping rows with missing sales price:", combined_data.shape)

Shape of DataFrame after dropping rows with missing sales price: (6716, 67)

In [1094]:
# Drop sales that dont have a property type
# Display the property type column

df_filtered = combined_data.dropna(subset=['description.sub_type'])
df_filtered = df_filtered[df_filtered['description.sub_type'].str.lower() != 'none']

# Print the shape of the DataFrame to verify the number of rows after dropping
print("Shape of DataFrame after dropping rows with missing property type and 'None':", df_filtered.shape)

Shape of DataFrame after dropping rows with missing property type and 'None': (1172, 67)

Consider the fact that with tags, there are a lot of categorical variables.
- How many columns would we have if we OHE tags, city and state?
- Perhaps we can get rid of tags that have a low frequency.

In [1095]:
# See what categorical columns exist including lists or dicts

categorical_columns = df_filtered.select_dtypes(include=['object']).columns
print(categorical_columns)

Index(['last_update_date', 'tags', 'permalink', 'status', 'list_date',
       'open_houses', 'branding', 'property_id', 'photos', 'community',
       'virtual_tours', 'listing_id', 'matterport', 'primary_photo.href',
       'source.plan_id', 'source.agents', 'source.spec_id', 'source.type',
       'description.sold_date', 'description.name', 'description.sub_type',
       'description.baths_1qtr', 'description.type',
       'lead_attributes.show_contact_an_agent', 'flags.is_new_construction',
       'flags.is_for_rent', 'flags.is_subdivision', 'flags.is_contingent',
       'flags.is_price_reduced', 'flags.is_pending', 'flags.is_foreclosure',
       'flags.is_plan', 'flags.is_coming_soon', 'flags.is_new_listing',
       'products.brand_name', 'other_listings.rdc',
       'location.address.postal_code', 'location.address.state',
       'location.address.city', 'location.address.state_code',
       'location.address.line', 'location.street_view_url',
       'location.county.fips_code', 'location.county.name', 'primary_photo',
       'source', 'products', 'location.address.coordinate', 'other_listings',
       'community.advertisers', 'community.description.name'],
      dtype='object')

In [1096]:
# Remove photos column

df_filtered = df_filtered.drop(columns=['photos'])

In [1097]:
# Flatten the lists in the 'tags' column
df_filtered['tags'] = df_filtered['tags'].apply(lambda x: ','.join(x) if isinstance(x, list) else x)

# Perform one-hot encoding on the flattened 'tags' column

df_filtered = pd.get_dummies(df_filtered, columns=['tags'])

In [1098]:
# Initialize LabelEncoder

label_encoder = LabelEncoder()

# Encode the 'permalink' column

df_filtered['permalink_encoded'] = label_encoder.fit_transform(df_filtered['permalink'])

# Drop the original 'permalink' column

df_filtered.drop(columns=['permalink'], inplace=True)

In [1099]:
# Encode 'sold' column

status_onehot = pd.get_dummies(df_filtered['status'], prefix='status')

df_filtered = pd.concat([df_filtered, status_onehot], axis=1)

# Drop the original 'status' column
df_filtered.drop(columns=['status'], inplace=True)

In [1100]:
# Convert dictionaries to strings in the 'branding' column
df_filtered['branding'] = df_filtered['branding'].apply(lambda x: str(x))

# Perform one-hot encoding on the 'branding' column
one_hot_encoded_branding = pd.get_dummies(df_filtered['branding'], prefix='branding')

# Concatenate the one-hot encoded columns with the original DataFrame
df_filtered = pd.concat([df_filtered, one_hot_encoded_branding], axis=1)

# Drop the original 'branding' column
df_filtered.drop(columns=['branding'], inplace=True)

In [1101]:
# Replace negative placeholder values with None

df_filtered = df_filtered.replace(-9223372037, np.nan)

In [1103]:
# Function to flatten lists and dictionaries

def flatten_value(x):
    if isinstance(x, list):
        return ','.join(map(str, x))
    elif isinstance(x, dict):
        return ','.join(str(v) for v in x.values())
    else:
        return str(x) if x is not None else ''

# Flatten lists or dictionaries in all columns

for col in df_filtered.columns:
    df_filtered[col] = df_filtered[col].apply(flatten_value)

# Convert datetime strings to Unix timestamps (integers)

datetime_columns = ['last_update_date', 'list_date', 'description.sold_date']
for col in datetime_columns:
    df_filtered[col] = pd.to_datetime(df_filtered[col], errors='coerce').astype('int64') // 10**9  # Convert to Unix timestamp

# One-hot encode all columns, including datetime

encoded_df = pd.get_dummies(df_filtered, dummy_na=True)

In [1104]:
# Concatenate the original DataFrame with the encoded DataFrame along the columns axis

merged_df = pd.concat([df_filtered, encoded_df], axis=1)

# Check the merged dataframe

merged_df.head()

,last_update_date,list_date,...,"branding_[{'name': None, 'photo': None, 'type': 'Office'}]_True","branding_[{'name': None, 'photo': None, 'type': 'Office'}]_nan"
273,1704852385,1701483574,...,False,False
314,1704852385,1701483574,...,False,False
355,1704852385,1701483574,...,False,False
396,1704852385,1701483574,...,False,False
437,1704852385,1701483574,...,False,False

- Sales will vary drastically between cities and states.  Is there a way to keep information about which city it is without OHE such as using central tendency?
- Could we label encode or ordinal encode?  Yes, but this may have undesirable effects, giving nominal data ordinal values.
- If you replace cities or states with numerical values, make sure that the data is split so that we don't leak data into the training selection. This is a great time to train test split. Compute on the training data, and join these values to the test data
- Drop columns that aren't needed.
- Don't keep the list price because it will be too close to the sale price.

In [1105]:
# perform train test split here

from sklearn.model_selection import train_test_split

X = merged_df.drop('description.sold_price', axis=1)  # dropping the 'list_price' column as mentioned
y = merged_df['description.sold_price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# do something with state and city
# drop any other not needed columns

In [1106]:
# Save data to csvs

X_train.to_csv('x_train.csv', index=False)
X_test.to_csv('x_test.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
y_test.to_csv('y_test.csv', index=False)

**STRETCH**

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [132]:
# import, join and preprocess new data here

,col1_1,col1_2,"col1_3,4",col1_5,col2_a,col2_b,col2_c,col2_d,"col3_1,2","col3_3,4",col3_e,col3_f
0,True,False,False,False,True,False,False,False,True,False,False,False
1,False,True,False,False,False,True,False,False,False,False,True,False
2,False,False,True,False,False,False,True,False,False,False,False,True
3,False,False,False,True,False,False,False,True,False,True,False,False

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [ ]:
# perform EDA here

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized